<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar', user: current_user%>
  </div>
  <div class="col-md-9">
    <div class="sidebar-content">
      <h3><i class="fa-fw fa fa-heart"></i> Friends List</h3>
      <div class="row">
        <div class="friend-list col-md-4">
          <% @users.each do |user| %>
              <div class="friend-block toggle-window">
              <%= link_to conversations_path(user_id: user), remote: true, method: :post do %>
                <div class="friend-info">
                  <%= image_tag asset_url("defaultavatar.png"), class:"img-fluid" %>
                  <%=user.name%>
                </div>
              <%end%>
              </div>
          <% end %>
        </div>
        <ul id="conversations-list col-md-8">
          <% @conversations.each do |conversation| %>
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>