<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "middle-form"}) do |f| %>
  <div class="logo-icon mx-auto text-center">
    <%= image_tag asset_url("icon.png"), class:"img-fluid" %>
  </div>
  <h2>Sign up</h2>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, type: "email", placeholder: "Enter your email" %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, type: "text", placeholder: "Enter your name" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", type: "password", placeholder: "Enter your password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", type: "password", placeholder: "Confirm your password" %>
  </div>

  <%= devise_error_messages! %>

  <div class="actions">
    <%= f.submit "Sign up", class: "primary-button" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
