<div class="card" data-conversation-id="<%= conversation.id %>">
  <div class="card-header">
    <%= link_to conversation.opposed_user(user).email, ''%>
  </div>
  <div class="card-body">
    <div class="messages-list">
      <ul class="list-unstyled media-block">
        <%= render 'conversations/conversation_content', messages: conversation.messages, conversation: conversation, user: user %>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <form class="new_message">
      <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
      <input name="user_id" type="hidden" value="<%= user.id %>">
      <div class="row">
        <div class="col-md-9">
          <textarea name="content" class="form-control"></textarea>
        </div>
        <div class="col-md-3">
          <input type="submit" class="btn btn-success" value="Send">
        </div>
      </div>
    </form>
  </div>
</div>