<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar', user: current_user%>
  </div>
  <div class="col-md-9">
    <div class="sidebar-content">
      <h3><i class="fa-fw fa fa-heart"></i> Friends List</h3>
      <div class="friend-list row">
        <% if @conversations.count == 0 %>
          Have no conversation yet!
        <%else%>
        <div class="col-md-4">
          <% @conversations.each do |conversation| %>
            
              <% if conversation.messages.count > 0%>
                <%= link_to conversation_path(conversation.id), remote: true do %>
                    <div class="friend-info row">
                      <div class="col-md-3  d-flex align-items-center">
                        <%= image_tag asset_url("defaultavatar.png"), class:"img-fluid" %>
                      </div>
                      <div class="col-md-9">
                        <%=conversation.opposed_user(current_user).name%>
                        <div class="last-message">
                          <%= @user.get_conversation_last_message(conversation.opposed_user(current_user).id, @user.id)%>
                          <span class="time text-muted"><%=@user.get_conversation_last_message(conversation.opposed_user(current_user).id, @user.id) == 'Has no message yet' ? 'Invalid' : (time_ago_in_words @user.get_conversation(conversation.opposed_user(current_user).id, @user.id).messages.first.created_at)%></span>
                        </div>
                      </div>
                    </div>

                  <%end%>
              <%end%>
          <% end %>
          </div>
          <div class="col-md-8" id="conversations-list">
      
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>