<div class="row">
<%= render 'layouts/sidebar', user: current_user%>
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3>Conversation List</h3>
        </div>
      </div>
      <div class="card-body" id="conversations">
        <%= link_to "Create New Conversation", new_messages_path %>
        <ul class="friend-list">
          <% if @conversations.count == 0 %>
            <div class="clearfix">
              <div class="friend-name text-center">
              <strong> Have no conversation yet! </strong> 
            </div>
            </div>
          <%else%>
          <% @conversations.each do |conversation| %>
            <li>
            <% if conversation.messages.count > 0%>
              <%= link_to conversation_path(conversation.id), remote: true do %>
                <div class="clearfix">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="rounded-circle">
                  <div class="friend-name">
                    <strong><%=conversation.opposed_user(current_user).name%></strong>
                  </div>
                  <div class="last-message text-muted">
                    <%= @user.get_conversation_last_message(conversation.opposed_user(current_user).id, @user.id)%>
                  </div>
                  <small class="time text-muted"><%=@user.get_conversation_last_message(conversation.opposed_user(current_user).id, @user.id) == 'Has no message yet' ? 'Invalid' : (time_ago_in_words @user.get_conversation(conversation.opposed_user(current_user).id, @user.id).messages.first.created_at)%></small>
                  <small class="chat-alert label label-danger">1</small>
                </div>
                <%end%>
            <%end%>
            </li>
            <% end %>
          <%end%>
        </ul>
      </div>
    </div>

    <div id="conversations-list">
    
    </div>


</div>