  <div class="row">
  <div class="col-md-3">
      <%= render 'layouts/sidebar', user: current_user%>
      </div>
        <div class="col-md-9">
    <div class="sidebar-content">
      <h3><i class="fa-fw fa fa-inbox"></i> Inbox</h3>
        <%@inbox_messages.each do |message|%>
          <%= link_to user_email_message_path(current_user, message) do %>
          <%if message.seen_at.present?%>
          <div class="row seen">
            <div class="col-md-3">
              <div class="content-name">
                <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              </div>
              <div class="content-email">
                <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>
              </div>
            </div>
            <div class="content-message col-md-7">
              <%=message.content%>
            </div>
            <div class="content-time col-md-2">
              <%= message.get_time(message.created_at)%>
            </div>
          </div>
          <%else%>
          <div class="row unseen">
            <div class="col-md-3">
              <div class="content-name">
                <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              </div>
              <div class="content-email">
                <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>              
              </div>
            </div>
            <div class="content-message col-md-7">
              <%=message.content%>
            </div>
            <div class="col-md-2">
              <div class="content-time">
                <%= message.get_time(message.created_at)%>
              </div>
              <div class="unread-message">
                unread
              </div>
            </div>
          </div>
          <%end%>
          <hr>         
        <%end%>
      <%end%>
    </div>
    </div>
  </div>