  <div class="row">
      <%= render 'layouts/sidebar', user: current_user%>
    <div class="wrapper">
      <div class="card-header">
        <div class="row">
            <div class="col-lg-3">
               Sender          
            </div>
            <div class="col-lg-6">
               Email summerize
            </div>
            <div class="col-lg-3" style="text-align: right">
               Send at
            </div>
          </div>
      </div>
        <%@inbox_messages.each do |message|%>
          <%= link_to user_email_message_path(current_user, message) do %>
          <%if message.seen_at.present?%>
          <div class="row seen">
            <div class="col-lg-3">
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              </br>
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>
            </div>
            <div class="col-lg-6">
              <%=message.content%>
            </div>
            <div class="col-lg-3" style="text-align: right">
              <%= message.get_time(message.created_at)%>
            </div>
          </div>
          <%else%>
          <div class="row unseen" style="font-weight: bold">
            <div class="col-lg-3">
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              </br>
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>              
            </div>
            <div class="col-lg-6">
              <%=message.content%>
            </div>
            <div class="col-lg-3" style="text-align: right">
              <%= message.get_time(message.created_at)%>
            </div>
          </div>
          <%end%>
          <hr>         
        <%end%>
      <%end%>
    </div>
  </div>