<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar', user: current_user%>
  </div>
  <div class="col-md-9">
    <div class="sidebar-content">
      <h3>Create Message</h3>
       <% if alert %>
          <% unless alert == "You have to choose at least 1 friend to send message!"%>
            <div class="alert alert-danger">
              You had been blocked by <br> 
                <%=simple_format h alert%>
              So you don't have permission to send this email to  <%=alert%> 
            </div>
          <%else%>
          <p class="alert alert-danger"><i class="fa-fw fa fa-warning"></i><%= alert %></p>
        <%end%>
      <% end %>
      <%=render 'form', email_message: @email_message, conversations: @conversations, users: @users%>
    </div>
  </div>
</div>
