  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/sidebar', user: current_user%>
    </div>
    <div class="col-md-9">
      <div class="sidebar-content">
      <h3>Sent Messages</h3>
        <%@sentmail_messages.each do |message|%>
          <div class="row">
            <div class="content-name col-md-3">
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              <br>
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>
            </div>
            <div class="content-message col-md-7">
              <%=message.content%>
            </div>
            <div class="content-time col-md-2">
              <%= message.get_time(message.created_at)%>
            </div>
          </div>
          <hr>         
        <%end%>
    </div>
    </div>
  </div>