  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/sidebar', user: current_user%>
    </div>
    <div class="col-md-9">
      <div class="sidebar-content">
      <h3>Sent Messages</h3>
          <div class="row">
            <div class="col-lg-3">
               Recipient         
            </div>
            <div class="col-lg-7">
               Email summerize
            </div>
            <div class="col-lg-2">
               Send at
            </div>
          </div>
        <%@sentmail_messages.each do |message|%>
          <%= link_to user_email_message_path(current_user, message) do %>
          <div class="row">
            <div class="content-name col-md-3">
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              <br>
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>
            </div>
            <div class="content-message col-md-7">
              <%=message.content%>
            </div>
            <div class="content-time col-md-2">
              <%= message.get_time(message.created_at)%>
            </div>
          </div>
          <hr>  
          <%end%>       
        <%end%>
    </div>
    </div>
  </div>