  <div class="row">
      <%= render 'layouts/sidebar', user: current_user%>
    <div class="wrapper">
        <%@sentmail_messages.each do |message|%>
          <div class="row">
            <div class="col-lg-3">
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).name%>
              <br>
              <%=message.get_conversation(message.conversation_id).opposed_user(current_user).email%>
            </div>
            <div class="col-lg-6">
              <%=message.content%>
            </div>
            <div class="col-lg-3" style="text-align: right">
              <%= message.get_time(message.created_at)%>
            </div>
          </div>
          <hr>         
        <%end%>
    </div>
  </div>