<div class="row">
  <%= render 'layouts/sidebar', user: current_user%>
  <div class="wrapper">
    <div class="card-header">
      <div class="clearfix">
        <div class="row">
          <div class="col-lg-3">
      	    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="rounded-circle">
      	  </div>
          <div class="col-lg-9">
            <div class="friend-name">	
      		    <strong><%=@sender.name%></strong>(<%=@sender.email%>)
              <br>
              <%if @recipient.email == current_user.email%>
                To me(<%=@recipient.email%>)
              <%else%>
                To <%@recipient.name%>(<%= @recipient.email%>)
              <%end%>
              </br>
              <%if @message.seen_at.present?%>
                Seen at: <%=@message.get_time(@message.seen_at)%>
      	      <%else%>
                Unseen
              <%end%>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%=@message.content%>
      <hr>
      Image 
      <br>
      <%if @message.url.present?%>
        <%= image_tag @message.url, class:"img-fluid" %>
      <%end%>
    </div>
  </div>
</div>