<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "middle-form"}) do |f| %>
  <div class="logo-icon mx-auto text-center">
    <%= image_tag asset_url("icon.png"), class:"img-fluid" %>
  </div>

  <h2>Log in</h2>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, type: "email", placeholder: "Enter your email", value: "nhatminh190496@gmail.com" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", type: "password", placeholder: "Enter your password", value: "123456" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="rememberme-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <% if notice %>
    <p class="alert alert-success"><i class="fa-fw fa fa-check"></i><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><i class="fa-fw fa fa-warning"></i><%= alert %></p>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "primary-button" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
