
<!-- Material sidebar -->
<aside class="sidebar">
    <!-- Sidebar header -->
    <div class="sidebar-header">

        <!-- Sidebar brand image -->
        <div class="sidebar-name">      
            <%=user.name%>
        </div>
        <div class="header-email">  
        <%=user.email%>
        </div>
    </div>

    <div class="sidebar-body">
        <div class="text-center">
            <%= link_to new_user_email_message_path(current_user) do %>
                <button>
                    Create Message
                </button>
            <% end %>
        </div>
        <ul>
            <li>
                <%= link_to inboxs_path do %>
                    <i class="fa-fw fa fa-inbox"></i>
                    Inbox
                <% end %>
            </li>
            <li>
                <%= link_to sentmails_path do %>
                    <i class="fa-fw fa fa-send"></i>
                    Sent messages
                <% end %>
            </li>
            <li>
                <%= link_to users_path do %>  
                    <i class="fa-fw fa fa-users"></i>
                    Users List
                <% end %>
            </li> 
            <li>
                <%= link_to new_messages_path do %>
                    <i class="fa-fw fa fa-heart"></i>
                    Friends List
                <% end %>
            </li>
            <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa-fw fa fa-sign-out"></i>
                    Sign-out
                <% end %>
            </li>
        </ul>
</aside>
